<!-- Navbar -->
<nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-green fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span style="font-size: small; font-family: 'Courier New', Courier, monospace;">LINGALA </span>
            <strong>
                <span style="color: #007fff;">2</span>
                <span style="color: #ce102f;">4</span>
                <span style="color: #f7d618;">3</span>
                <span>Langues</span>
            </strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <!--  Replace menu links here -->
                <li class="nav-item"><a class="nav-link" href="/">Acceuil</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/posts">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/liste-de-lecons">Leçons</a></li>
                <li class="nav-item"><a class="nav-link" href="/table-des-matieres">Table de matières</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>