<!-- Header -->
<app-header></app-header>

<!-- Content -->
<main role="main" class="site-content">

    <div class="row justify-content-center" style="margin-left:0rem;">
    
        <div class="col-md-4 col-lg-4">
            <div *ngIf="!is_update" class="form-group">
                <label>ID de la leçon</label>
                <input class="form-control" type="text" (change)="updateField('id', $event.target.value)" [ngModel]="lesson.id">
                <small class="form-text text-muted">ID</small>
            </div>

            <div class="form-group">
                <label>Intitulé de la leçon</label>
                <input class="form-control" type="text" (change)="updateField('title', $event.target.value)" (ngModel)="lesson.title" [value]="lesson.title">
                <small class="form-text text-muted">Titre</small>
            </div>
            
            <div class="form-group">
                <label>Contenu de la leçon</label>
                <textarea class="form-control" (change)="updateField('content', $event.target.value)" (ngModel)="lesson.content" [value]="lesson.content" rows="15"></textarea>
                <small class="form-text text-muted">Leçon</small>
            </div>
            
            <div *ngIf="is_update" class="form-group">
                <label>Publié le {{ lesson.published_date.seconds*1000 | date: 'dd MMMM y' }}.</label>
            </div>
            
            <div class="form-group">
                <button *ngIf="is_update; else createButton" (click)="updateLesson()" class="btn btn-success">Sauvegarder</button>
            </div>
            <ng-template #createButton>
                <button (click)="createLesson()" class="btn btn-success">Enregistrer</button>
            </ng-template>
        </div>

        <div class="col-md-8 col-lg-8">
            <article class="article-post" [innerHTML]="lesson.content"></article>
        </div>
    </div>
    <hr>
</main>

