<!-- Page Header -->
<app-header></app-header>

<body class=" homefirstpage ">
    <!-- Navigation -->

    <!-- Content -->
    <main role="main" class="site-content">
        <div class="container">
            <!-- Begin post excerpts, let's highlight the first 4 posts on top -->
            <div class="row remove-site-content-margin">
                <!-- Main home lesson -->
                <div  *ngIf="homeLesson"class="col-md-6">
                    <div class="card border-0 mb-4 box-shadow">
                        <a href="/lesson/{{ homeLesson.id }}">
                            <div class="topfirstimage" style="background-image: url('http://live.staticflickr.com/7331/12169018594_72a5de7b0e_b.jpg'); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
                        </a>
                        <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                            <h2 class="h4 font-weight-bold">
                                <a class="text-dark" href="/lesson/{{ homeLesson.id }}">Bienvenu(e) sur 243Langues!</a>
                            </h2>
                            <p class="excerpt" [innerHTML]="excerpt(homeLesson.content)"></p>
                            <div>
                                <small class="text-muted">22 Août 2020</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Top lessons -->
                <div *ngIf="topLessons" class="col-md-6">
                    <div *ngFor="let top_lesson of topLessons" class="mb-3 d-flex align-items-center">                

                        <div class="col-md-4">
                            <a href="/lesson/{{ top_lesson.id }}">
                                <img class="w-100" src="https://images.unsplash.com/photo-1528784351875-d797d86873a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                            </a>
                        </div>

                        <div>
                            <h2 class="mb-2 h6 font-weight-bold">
                                <a class="text-dark" href="/lesson/{{ top_lesson.id }}">{{ top_lesson.data().title }}</a>
                            </h2>
                            <small class="text-muted">{{ top_lesson.data().published_date.seconds * 1000 | date: 'dd MMMM y' }}</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->

            <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
                <div class="pl-4 pr-0 h-100 tofront">
                    <div class="row justify-content-between">
                        <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                            <h1 class="mb-3">Vous pouvez apprendre le Lingala avec nous.</h1>
                            <p class="mb-3 lead">
                                Apprenez la grammaire et la phraseologie completes et simplifiées du Lingala.
                            </p>
                            <a href="/table-des-matieres" class="btn btn-dark">Commencer</a>
                        </div>
                        <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url(/assets/images/kinshasa.jpg);"></div>
                    </div>
                </div>
            </div>
            <!--endif page url is / -->
            <!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->

            <div class="row mt-3">

                <div *ngIf="recentLessons" class="col-md-8 main-loop">

                    <h4 class="font-weight-bold spanborder"><span>Leçons récentes</span></h4>

                    <div *ngFor="let lesson of recentLessons" class="mb-5 d-flex justify-content-between main-loop-card">
                        <div class="pr-3">
                            <h2 class="mb-1 h4 font-weight-bold">
                                <a class="text-dark" href="/lesson/{{ lesson.id }}">{{ lesson.data().title }}</a>
                            </h2>
                            <p class="excerpt" [innerHTML]="excerpt(lesson.data().content)"></p>
                            <small class="text-muted">{{ lesson.data().published_date.seconds * 1000 | date: 'dd MMMM y' }}</small>
                        </div>
                    </div>
                    
                    <div class="mt-5">
                        <!-- Pagination links -->
                        <ul class="pagination">
                            <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
                            <li class="page-item disabled"><span class="webjeda page-link">1</span></li>
                            <li class="page-item"><a class="page-link" href="/mundana-theme-jekyll/page2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/mundana-theme-jekyll/page2">Next &raquo;</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4">
                    <div *ngIf="recentPosts" class="sticky-top sticky-top-offset">
                        <h4 class="font-weight-bold spanborder"><span>Blog</span></h4>
                        <ol class="list-featured">
                            <li *ngFor="let post of recentPosts" class="mb-4">
                                <span>
                                    <h6 class="font-weight-bold">
                                        <a href="/lesson/{{ post.id }}" class="text-dark">{{ post.data().title}}</a>
                                    </h6>
                                    <span class="d-block text-muted">{{ post.data().published_date.seconds * 1000 | date: 'dd MMMM y' }}</span>
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</body>

<!-- Page footer -->
<app-footer></app-footer>