:root {
    --cdblue: #007fff;
    --cdred: #ce102f;
    --cdyellow: #f7d618;
    --cdvert: #1e752c;
    --cdgold: #ffe7a45b;
    --cdchoco: chocolate;
}

.prefixe {
    font-weight: bold;
    color: var(--cdvert);
}

.suffixe {
    font-weight: bold;
    color: var(--cdblue);
}
.radical {
    font-weight: bold;
    color: var(--cdred);
}

.infixe {
    font-weight: bold;
    color: var(--cdchoco);
}

.bloc-centre {
  text-align: center;
}

.regle-dor {
    background-color: var(--cdgold);
}
.regle-dor .titre {
    text-decoration: underline;
    font-weight: bold;
}
.pagination .previous-lesson {
    text-align: left;
}
.pagination .next-lesson {
    text-align: right;
}