:root {
    --cdblue: #007fff;
    --cdred: #ce102f;
    --cdyellow: #f7d618;
    --cdvert: #1e752c;
    --cdvertcitron: #9dd4a7;
    --cdgold: #ffe7a45b;
    --cdchoco: chocolate;
}

.prefixe {
    font-weight: bold;
    color: var(--cdvert);
}

.suffixe {
    font-weight: bold;
    color: var(--cdblue);
}
.radical {
    font-weight: bold;
    color: var(--cdred);
}

.infixe {
    font-weight: bold;
    color: var(--cdchoco);
}

.bloc-centre {
  text-align: center;
}

.regle-dor {
    background-color: var(--cdgold);
}
.regle-dor .titre {
    text-decoration: underline;
    font-weight: bold;
}
.pagination .previous-lesson {
    text-align: left;
}
.pagination .next-lesson {
    text-align: right;
}
.mat-tree-node {
    background-color: var(--cdvertcitron);
}
#toggle-btn {
    cursor: pointer;
}
.toggle-btn {
    cursor: pointer;
}
.example-tree-invisible {
    display: none;
}
  
.example-tree ul, .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.mat-nested-tree-node ul {
    background-color: var(--cdvertcitron);
}