<!-- Header -->
<app-header></app-header>

<main role="main" class="site-content">
    <div class="container">
        <h1>Table des matières</h1>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <!-- Table of contents -->
            <article class="article-post">

                <mat-sidenav class="col-md-2 col-lg-2" #sidenav mode="side" [fixedInViewport]="true" opened>
                    <app-content-table [isNumberedList]="true"></app-content-table>
                </mat-sidenav>
            </article>
        </div>
    </div>
</main>

<!-- Footer -->
<app-footer></app-footer>
