:root {
    --cdblue: #007fff;
    --cdred: #ce102f;
    --cdyellow: #f7d618;
    --cdvert: #1e752c;
    --cdvertcitron: #9dd4a7;
    --cdgold: #ffe7a45b;
    --cdchoco: chocolate;
}
article:first-letter {
	float: inherit;
    margin: inherit;
	font-size: inherit;
    line-height: inherit;
}
